---
const {socialLink, socialLogo} = Astro.props
import { Icon } from "astro-icon";
---

<div class='flex items-center text-light-shade hover:text-hover-shade'>
    <a href={socialLink} target="_blank">
        <Icon name={socialLogo}
        class="w-5" 
        />
    </a>
</div>