
<span class="texty lg:text-xl text-base font-bold glow">
    &lt;
</span>

<style is:global>
    .glow {
        text-shadow:
            0 0 1px #F25041,
            0 0 2px #F25041,
            0 0 3px #F25041;
    }

    .noglow {
        text-shadow: none;
    }

    .texty {
        color: #fbcbc3;
    }
</style>