

<nav class="fixed w-4/5 h-16 z-50 bg-inherit flex flex-col primary-navigation">
    <div class="w-1/3 h-fit flex gap-3 p-2 items-center text-neon-shade text-xs lg:text-base">
      <a 
      class="hover:text-light-shade hover:cursor-pointer"
      href="#home" 
      >Home</a>

      <a 
      class="hover:text-light-shade hover:cursor-pointer"
      href="#projects" 
      >Projects</a>

      <a 
      class="hover:text-light-shade hover:cursor-pointer"
      href="#about" 
      >About</a>

    </div>
    <hr class="lg:w-1/3 w-2/3 h-1 border-none bg-light-shade glowing-border"/>
</nav>


<style is:global> 
    @keyframes glow {
      0%, 100% {
      }
      50% {
        background-color: #ffb0a2;
        box-shadow: 0 0 20px #efa57b;
      }
    }
  
    .glowing-border {
      animation: glow 10s infinite;
    }

    html {
        scroll-behavior: smooth;
        scroll-padding: 2rem;
    }
  </style>
