---
import Main from './project-comp/Main.astro'
import Side from './project-comp/Side.astro'
---

<div 
id="projects" 
class="w-5/6 lg:w-full h-full flex z-40 flex-col lg:p-12 gap-16 p-3 lg:gap-36 mb-28 lg:mb-0">
    <Main />
    <Side />
</div>


