---
import Tech from './tech-comp/Tech.astro'
import HR from './tech-comp/HR.astro'
import Social from './tech-comp/Social.astro'
---

        <nav class="w-full h-screen fixed z-0 bg-transparent flex justify-end gap-2">
            <div class='w-fit h-fit flex lg:hidden self-start rotate-90 relative top-14 left-12'>
                <p class='text-neon-shade opacity-75 text-sm'>Tech-Stack</p>
            </div>

            <HR />
            
            <div class="h-full lg:w-28 w-8 flex flex-col p-1">
                <div class='h-1/2 w-full flex flex-col gap-1'>
                    <div class="lg:flex hidden items-end justify-center h-20">
                        <h4 class="text-neon-shade lg:text-l text-sm">Tech-Stack</h4>
                    </div>
                    <div class="flex flex-col gap-3 w-full h-full justify-between mt-3 relative lg:top-3">
                    
                        <Tech 
                        techLogo="icomoon-free:html-five"
                        techText="HTML"
                        />

                        <Tech 
                        techLogo="mdi:language-css3"
                        techText="CSS"
                        />

                        <Tech 
                        techLogo="cib:javascript"
                        techText="JS"
                        />

                        <Tech 
                        techLogo="mdi:react"
                        techText="React"
                        />

                        <Tech 
                        techLogo="file-icons:nextjs"
                        techText="Next"
                        />

                        <Tech 
                        techLogo="mdi:tailwind"
                        techText="tWind"
                        />

                        <Tech 
                        techLogo="cib:typescript"
                        techText="TS"
                        />

                        <Tech 
                        techLogo="simple-icons:astro"
                        techText="Astro"
                        />

                    </div>
                </div>










                <div class='w-full h-1/2 flex flex-col-reverse relative bottom-3 gap-3'>

                    <Social 
                    socialLogo="bi:facebook"
                    socialLink="https://www.facebook.com/mirza.iris"
                    />

                    <Social 
                    socialLogo="akar-icons:github-fill"
                    socialLink="https://github.com/Iris94"
                    />

                    <Social 
                    socialLogo="uil:linkedin"
                    socialLink="www.linkedin.com/in/iris94"
                    />
                </div>
            </div>
        </nav>




