---
import Tech from '../components/TechStack.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-main-shade eurostile z-0 overflow-x-hidden">
		<Nav />
		<Tech />
		<slot />
	</body>
</html>


<style is:global>
    @font-face {
        font-family: 'Eurostile';
        src: url('/static/fonts/eurostile.TTF') format('truetype');
    }

    .eurostile {
        font-family: 'Eurostile', sans-serif;
    }

    .hex {
        clip-path: polygon(
            5%          -1%,
            101%        -1%,
            101%        90%,
            95%         100%,
            0%          100%,
            0%          10%
        );
    }

    @keyframes lightGlow {
    0%, 100% {
    }
    50% {
        background-color: #ffb0a2;
        box-shadow: 0 0 20px #efa57b;
    }
  }

    .travel-down-glow {
    animation: lightGlow 10s ease-in-out infinite;
    animation-delay: calc(0.5s * var(--delay));
    }

    body {
        word-spacing: 2px;
        letter-spacing: 2px;
    }


    /* Style the scrollbar track */
    ::-webkit-scrollbar {
    width: 15px; /* Adjust the width as needed */
    }

    /* Style the scrollbar thumb (the draggable part) */
    ::-webkit-scrollbar-thumb {
    background-color: #F28444; /* Change the background color */
    border-radius: 10px; /* Rounded corners for the thumb */
    }

    /* Style the scrollbar track when hovering over it */
    ::-webkit-scrollbar-thumb:hover {
    background-color: #F25041; /* Change the background color on hover */
    }

</style>




